<div class='container-sm d-flex flex-column'>
	<div class='card'>

		<img src='../assets/success.png' alt='Exitoso' style='width: 100px;' />
		<div>
			<h2 class='h2'>
				Pago exitoso
			</h2>
		</div>
		<div>
			<p>Tipo de pago: <span>{{payment_type}}</span></p>
		</div>
		<div>
			<p>Referencia: <span>{{external_reference}}</span></p>
		</div>
		<div>
			<p>ID: <span>{{payment_id}}</span></p>
		</div>
		<button class='btn btn-primary' onclick="location.href='/'">
			Ir al inicio
		</button>
	</div>
</div>